@using GenesisBlog.Enums
@model GenesisBlog.Models.BlogPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
         
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>

              <div class="form-group mb-5">
                <label asp-for="Content" class="control-label"></label>
                <div id="quillEditor"></div>
                <span asp-validation-for="Content" class="text-danger"></span>
                <input type="hidden" asp-for="Content" />      
            </div>
        
           
            <div class="form-group">
                <label asp-for="BlogPostState" class="control-label"></label>
                <select asp-for="BlogPostState" class="form-control" asp-items="@Html.GetEnumSelectList<BlogPostState>()"></select>
                <span asp-validation-for="BlogPostState" class="text-danger"></span>
            </div>
        
             <div class="form-group mb-3">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" accept=".jpg,.png,.gif"/>           
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <select  name="TagIds" class ="form-control" asp-items="ViewBag.TagIds" multiple></select>
            </div>

  
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //When the page loads copy the innerHTML of the hidden Content into Quill
        quill.container.firstChild.innerHTML = document.getElementById("Content").value;   
    </script>
}
